body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: white;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h2 {
    font-size: 18px;
    color: hsl(218, 44%, 22%);
}

.card p {
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}
